[Unit]
Description=Daemon to detect gpio event
After=syslog.target

[Service]
ExecStart=/usr/local/bin/domod.sh
ExecStop=/usr/local/bin/domod.sh kill
Type=forking
Restart=restart-always

[Install]
WantedBy=multi-user.target

